#headimage{
    border-radius: 10em;
    width: 150px;
    box-shadow: 0 0 3px rgb(136, 131, 131);
}

body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto; 
    grid-gap: 60px;
    font-size: 16px;
    color: #2D3748;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* body::after{
    background-color: #e1d8fa;
    opacity: 0.3;
    content: "";
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
} */

footer{
    grid-column: 1/4;
    grid-row: 3;
}

.blocked-line{
    background-color: #2C5282;
    color: #FFFFFF;
    width: 100%;
    height: 60px;
    vertical-align: middle;
}

#copyright{
    /* margin-left: 70px; */
    text-align: center;
    padding: 3px;
    padding-top: 30px;
    font-size: small;
}

.supporting{
    font-style: italic;
    color: #718096;
    margin-top: 0;
    margin: 0;
}

.hidden{
    display:none;
}

header{
    grid-column: 1 / 3; 
    grid-row: 1;
}
.myheader{
    color: #350606;
    margin:0;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    /* box-shadow: 5px 0px #d8d3d3; */
}

.myheader::after{
    content: "";
    background-image: url(images/background-png.png);
    opacity: 0.5;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

main{
    margin-left: 100px;
    grid-column: 1;
    grid-row: 2 ;
    
}

aside{
    grid-column: 2;
    grid-row: 2;
    margin-left: 50px;
}

.heading{
    color: #040e5f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    text-decoration: underline;
}

#about{
    font-weight: bold;
    color: #350606;
    margin:0;
    
}

.about{
    background-color: #E2E8F0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(162, 162, 162);
}

.skills_about{
    padding-left: 12px;
}

.about_indent{
    padding-left: 10px;
}
h1{
    margin: 0;
    margin-top: 10px;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 2px #fae652;
} 
h2{
    margin-bottom: 5px;
}

h3{
    margin-left: 20px;
    margin-bottom: 10px;
}
#p{
    margin: 0;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    font-size: 18px;
    text-shadow: 0 0 5px #ffffff;
}
a{
    color: #4299E1;
    text-decoration: none;
}
#schoolimage{
    float: right;
}
#workimage{
    float: left;
}
.itimages{
    width: 400px;
    margin: 10px;
    border: none;
    border-radius: 25px;
}

ul {
    list-style-type: none;
    margin-top: 0px;
}
.small{
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-radius: 100px;
}
li{
    margin: 0 auto;
    padding: 0px 0px;
}

li p{
    margin: 0 auto;
    padding: 0;
}

.demoimages{
    width: 100%;
    padding: 10px auto;
    margin: 0;
    text-align: center;
}